In [1]:
import pandas as pd
import numpy as np
import re
import string

from utilidades.TextCleaning import clean_text
from utilidades.TextCorrecting import correct_text

In [2]:
# Selección del largo de las celdas del DataFrame
strech = True

# Cantidad mínima de repeticiones
repetitions = 35

In [3]:
if strech:
    pd.set_option('max_colwidth', 150)
else:
    pd.reset_option('max_colwidth')

In [4]:
# El DataFrame con texto limpio y corregido pesa menos.
df = pd.read_csv('../datos/train_text_corrected.csv', encoding='utf-8', usecols=['keyword'])
df.sample(10, random_state=42)

          keyword
2644  destruction
2227       deluge
5448       police
132    aftershock
6845       trauma
5559    rainstorm
1765    collision
1817      crashed
6810      tragedy
4398    hijacking

Del análisis exploratorio de datos se había encontrado que hay algunos `%20` que hay que reemplazar con `-`. Aquí se separan con un `' '`.

In [5]:
df.replace(to_replace={'%20':' '}, inplace=True, regex=True)
# regex=True para reemplazar expresiones dentro del string.

In [6]:
%%time
# Se limpian los términos, evitando los nulos. isinstance(x, str) verifica que sea string.
df['keyword'] = df['keyword'].apply(lambda x: clean_text(x) if isinstance(x, str) else x)

CPU times: user 134 ms, sys: 3.16 ms, total: 137 ms
Wall time: 135 ms

In [7]:
%%time
# Se corrigen las palabras de keyword, evitando los nulos.
df['keyword'] = df['keyword'].apply(lambda x: correct_text(x) if isinstance(x, str) else x)

CPU times: user 1min 59s, sys: 362 ms, total: 1min 59s
Wall time: 1min 59s

In [8]:
df.sample(10, random_state=42)

          keyword
2644  destruction
2227       deluge
5448       police
132   aftershocks
6845       trauma
5559    rainstorm
1765    collision
1817      crashed
6810      tragedy
4398    hijacking

In [9]:
df.to_csv('../datos/train_keyword_corrected.csv', index=False)

In [10]:
df_aux = pd.read_csv('../datos/train_keyword_corrected.csv')
df_aux.head(3)

  keyword
0     NaN
1     NaN
2     NaN