In [1]:
import pandas as pd
import numpy as np
import re
import string

from utilidades.TextCleaning import clean_text
from utilidades.TextCorrecting import correct_text

In [3]:
# Selección del largo de las celdas del DataFrame
strech = True

if strech:
    pd.set_option('max_colwidth', 150)
else:
    pd.reset_option('max_colwidth')

In [4]:
df = pd.read_csv('../datos/train_text_corrected.csv', encoding='utf-8')
df.sample(10, random_state=42)

,id,keyword,location,text,target
2644,3796,destruction,NaN,so you have a new weapon that can cause unimaginable destruction,1
2227,3185,deluge,NaN,the camp things i do for gishwhes just got soaked in a deluge going for pads and tampons the,0
5448,7769,police,UK,dt rt the col police can catch a pickpocket in liverpool street,1
132,191,aftershock,NaN,aftershocks back to school kick off was great i want to thank everyone for making it possible what a great night,0
6845,9810,trauma,"Montgomery County, MD",in response to trauma children of addicts develop a defensive self one that decreases vulnerability,0
5559,7934,rainstorm,NaN,you look like you got caught in a rainstorm this is amazing and disgusting at the same time,0
1765,2538,collision,NaN,my favorite lady came to our volunteer meeting hopefully joining her youth collision and i am excite,1
1817,2611,crashed,NaN,ux fail of em people want to insert and remove quickly like a gas pump stripe reader person told me it crashed the pos,1
6810,9756,tragedy,"Los Angeles, CA",cant find my ariana grande shirt this is a fucking tragedy,0
4398,6254,hijacking,"Athens,Greece",the murderous story of americans first hijacking,1

Del análisis exploratorio de datos se había encontrado que hay algunos `%20` que hay que reemplazar con `-`. Aquí se separan con un `' '`.

In [5]:
df.replace(to_replace={'%20':' '}, inplace=True, regex=True)
# regex=True para reemplazar expresiones dentro del string.

In [8]:
%%time
# Se limpian los términos, evitando los nulos. isinstance(x, str) verifica que sea string.
df['keyword'] = df['keyword'].apply(lambda x: clean_text(x) if isinstance(x, str) else x)

CPU times: user 168 ms, sys: 0 ns, total: 168 ms
Wall time: 166 ms

In [10]:
%%time
# Se corrigen las palabras de keyword, evitando los nulos.
df['keyword'] = df['keyword'].apply(lambda x: correct_text(x) if isinstance(x, str) else x)

CPU times: user 1min 53s, sys: 70.5 ms, total: 1min 53s
Wall time: 1min 53s