<a href="https://colab.research.google.com/github/ffelfis/Orga_Datos_TPs/blob/master/nb_facundo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Paquete para manejo de mapas
!pip install geopandas
# Para leer shape files con el paque 'shapefile' (contienen geometría de mapas)
!pip install pyshp

In [9]:
import pandas as pd
import numpy as np
import geopandas as gpd
import shapefile as shp
import matplotlib.pyplot as plt

In [10]:
# Lectura de Dataset desde Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [11]:
df = pd.read_csv('/content/gdrive/My Drive/75.06 - Organización de Datos/TP1/Data/train_values.csv')

In [13]:
df.sample(6)

        building_id  ...  has_secondary_use_other
147971      1010531  ...                        0
245929       513922  ...                        0
195418       344958  ...                        0
53285        458529  ...                        0
156689       488589  ...                        0
177997       911990  ...                        0

[6 rows x 39 columns]